# Data Cleaning for Amazon Sales Data Analysis

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Reading file and storing it in a dataframe

In [4]:
df=pd.read_excel('C:\\Users\\KIIT\\Desktop\\ineuron assignments\\Amazon sales data analysis\\DATA\\SALESDATA.xls')

## Understanding the dataset

In [8]:
df.head()

,CustKey,DateKey,Discount Amount,Invoice Date,Invoice Number,Item Class,Item Number,Item,Line Number,List Price,...,Sales Amount,Sales Amount Based on List Price,Sales Cost Amount,Sales Margin Amount,Sales Price,Sales Quantity,Sales Rep,U/M,Unnamed: 20,Unnamed: 21
0,10000481,2017-04-30,-237.91,2017-04-30,100012,NaN,NaN,Urban Large Eggs,2000,0.00,...,237.91,0.00,0.0,237.91,237.910000,1,184,EA,NaN,U/M = unit of measure
1,10002220,2017-07-14,368.79,2017-07-14,100233,P01,20910,Moms Sliced Turkey,1000,824.96,...,456.17,824.96,0.0,456.17,456.170000,1,127,EA,NaN,NaN
2,10002220,2017-10-17,109.73,2017-10-17,116165,P01,38076,Cutting Edge Foot-Long Hot Dogs,1000,548.66,...,438.93,548.66,0.0,438.93,438.930000,1,127,EA,NaN,EA = each
3,10002489,2017-06-03,-211.75,2017-06-03,100096,NaN,NaN,Kiwi Lox,1000,0.00,...,211.75,0.00,0.0,211.75,211.750000,1,160,EA,NaN,NaN
4,10004516,2017-05-27,96627.94,2017-05-27,103341,P01,60776,High Top Sweet Onion,1000,408.52,...,89248.66,185876.60,0.0,89248.66,196.150901,455,124,SE,NaN,SE = some SI unit like kgs or gallons

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65282 entries, 0 to 65281
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CustKey                           65282 non-null  int64
 1   DateKey                           65282 non-null  datetime64[ns]
 2   Discount Amount                   65280 non-null  float64
 3   Invoice Date                      65282 non-null  datetime64[ns]
 4   Invoice Number                    65282 non-null  int64
 5   Item Class                        56993 non-null  object
 6   Item Number                       65241 non-null  object
 7   Item                              65282 non-null  object
 8   Line Number                       65282 non-null  int64
 9   List Price                        65282 non-null  float64
 10  Order Number                      65282 non-null  int64
 11  Promised Delivery Date            65282 non-null  datetime64[ns]
 12  Sales Amount                      65282 non-null  float64
 13  Sales Amount Based on List Price  65282 non-null  float64
 14  Sales Cost Amount                 65282 non-null  float64
 15  Sales Margin Amount               65282 non-null  float64
 16  Sales Price                       65281 non-null  float64
 17  Sales Quantity                    65282 non-null  int64
 18  Sales Rep                         65282 non-null  int64
 19  U/M                               65282 non-null  object
 20  Unnamed: 20                       0 non-null      float64
 21  Unnamed: 21                       4 non-null      object
dtypes: datetime64[ns](3), float64(8), int64(6), object(5)
memory usage: 9.7+ MB

In [10]:
df.shape

(65282, 22)

### Creating table for missing data analysis

In [11]:

def draw_missing_data_table(df):
    total = df.isnull().sum().sort_values(ascending=False)
    percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    return missing_data

In [12]:
draw_missing_data_table(df)

                                  Total   Percent
Unnamed: 20                       65282  1.000000
Unnamed: 21                       65278  0.999939
Item Class                         8289  0.126972
Item Number                          41  0.000628
Discount Amount                       2  0.000031
Sales Price                           1  0.000015
List Price                            0  0.000000
DateKey                               0  0.000000
Invoice Date                          0  0.000000
Invoice Number                        0  0.000000
Item                                  0  0.000000
Line Number                           0  0.000000
Order Number                          0  0.000000
Promised Delivery Date                0  0.000000
Sales Amount                          0  0.000000
Sales Amount Based on List Price      0  0.000000
Sales Cost Amount                     0  0.000000
Sales Margin Amount                   0  0.000000
Sales Quantity                        0  0.000000
Sales Rep                             0  0.000000
U/M                                   0  0.000000
CustKey                               0  0.000000

### Dropping column 'Unmaed: 20' and 'Unamed: 21' due to almost 100% missing values

In [13]:
df.drop(df.iloc[:, 20:], inplace = True, axis = 1)

### Analysing 'Item Class' Attribute

In [14]:
print(pd.unique(df['Item Class']))

[nan 'P01' 'PO1']

#### Dropping Item class attribute since it has only one possible value 'P01'. The Item Class for all the items belong to the food class.

In [16]:
df=df.drop(['Item Class'], axis=1)

### Order number is not an important attribute to understand the trends of sale

In [17]:

df=df.drop(['Order Number'], axis=1)

### Deleting rows with missing values

In [19]:
df.dropna(subset = ["Item Number"], inplace=True)

In [20]:
df.dropna(subset = ["Discount Amount"], inplace=True)

In [21]:
df.dropna(subset = ["Sales Price"], inplace=True)

## Deleting Duplicate rows if any

In [18]:
df.drop_duplicates(keep=False,inplace=True)

### Checking whether there are any more missing values left

In [23]:
draw_missing_data_table(df)

                                  Total  Percent
U/M                                   0      0.0
Sales Rep                             0      0.0
DateKey                               0      0.0
Discount Amount                       0      0.0
Invoice Date                          0      0.0
Invoice Number                        0      0.0
Item Number                           0      0.0
Item                                  0      0.0
Line Number                           0      0.0
List Price                            0      0.0
Promised Delivery Date                0      0.0
Sales Amount                          0      0.0
Sales Amount Based on List Price      0      0.0
Sales Cost Amount                     0      0.0
Sales Margin Amount                   0      0.0
Sales Price                           0      0.0
Sales Quantity                        0      0.0
CustKey                               0      0.0

## Storing the clean dataset in a new file

In [ ]:
df.to_excel("Amazon_Sales_Data_CLEANED.xlsx")